@page "/maintenances/canсel/{Id}"
@inject IAlertService AlertService
@inject IMaintenanceService MaintenanceService
@inject IAccountService AccountService
@inject IMachineService MachineService
@inject IStatusService StatusService
@inject ITaskTypeService TaskTypeService
@inject NavigationManager NavigationManager

<h1>Отмена заявки</h1>
@if (model != null)
{
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-row">

           
            <div class="form-group col">
                <label>Комментарий к задаче</label>
                <InputText @bind-Value="model.Comment" class="form-control" />
                <ValidationMessage For="@(() => model.Comment)" />
            </div>
        </div>

        <div class="form-group">
            <button disabled="@loading" class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                В работу
            </button>
            <NavLink href="maintenances" class="btn btn-link">Отмена</NavLink>
        </div>

    </EditForm>
}

@code {
    private bool loading;
    private CancelMaintenance model;
    private Maintenance maintenance = null;
    private IList<User> users;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        users = await AccountService.GetAll();
        maintenance = await MaintenanceService.GetById(Id);
        model = new CancelMaintenance(maintenance);
        model.User = User.current;

        loading = false;
    }
    public async void OnValidSubmit()
    {
        loading = true;
        try
        {
            await MaintenanceService.Cancel(int.Parse(Id), model);
            AlertService.Success("Запись успешно обновлена", keepAfterRouteChange: true);
            NavigationManager.NavigateTo("maintenance");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}